/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

.users {
  justify-content: right;
}

.send-wrapper {
  position:absolute;
  bottom:0;
  width:100%;


}



/* .messages {
  position: absolute;
} */

.messages-wrapper {
  width: 100%;
  overflow-y: scroll;

}

ul li {
  word-break: break-all;
  white-space: normal;
  list-style-type: none;
}

.wrapper {


  width: 100%;


}

.message-typing {
  width: 90%;
  }

.messages-gauche{
  width: 40%;
  text-align: left;
  background-color: blue;
  border-radius: 6px;
  padding: 2px 15px 2px 15px;
  color: white;
  clear: both;
}

.messages-droite{
  width: 40%;
  float: right;
  color: white;
  background-color:darkgreen;
  padding: 2px 15px 2px 15px;
  border-radius: 6px;
  clear: both;
  margin: 2px 0px 0px 0px;
}

.ul-container{

  width: 100%;
  height: auto;
  margin: 2px 0px 0px 0px;
}
