/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */

.users {
  justify-content: right;
}

.send-wrapper {
  bottom: 0;
  width: 100%;
  position: fixed;
}

/* .messages {
  position: absolute;
} */

.messages-wrapper {
  width: 100%;
}

ul li {
  word-break: break-all;
  white-space: normal;
  list-style-type: none;
}

.wrapper {
  max-height: 800px;
  height: 100%;
  width: 100%;
}

.message-typing {
  width: 90%;
}

.messages-gauche{
  width: 100%;
  text-align: left;
  color: #1a3aff;
}

.messages-droite{
  width: 100%;
  text-align: right;
  color: red;
}
